.allies {
  border-top: solid 0.4vh var(--dark2);
  position: absolute;
  width: 100%;
  height: 61vh;
  top: 0vh;
  overflow: auto;
}
.allies .newally {
  position: relative;
  width: 100%;
  height: 4vh;
  background-color: var(--dark2);
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
}
.allies .newally .info {
  position: absolute;
  left: 1vh;
}
.allies .newally .info.name {
  color: var(--white);
  font-size: 1.8vh;
  top: -0.8vh;
}
.allies .newally:hover {
  cursor: pointer;
  background-color: var(--dark3);
}
.allies .ally {
  position: relative;
  width: 100%;
  height: 7vh;
  background-color: var(--dark2);
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
}
.allies .ally .info {
  position: absolute;
  left: 1vh;
}
.allies .ally .info.name {
  color: var(--white);
  font-size: 1.8vh;
  top: -1vh;
}
.allies .ally .info.extra {
  color: var(--gray);
  font-size: 1.5vh;
  top: 1.5vh;
}
.allies .ally .buttons {
  position: absolute;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  right: 1vh;
  top: 50%;
  transform: translateY(-50%);
}
.allies .ally .buttons .button {
  position: relative;
  height: 4vh;
  width: 10vh;
  float: right;
  margin-left: 0.5vh;
  margin-right: 0.5vh;
  border-radius: 0.5vh;
}
.allies .ally .buttons .button p {
  color: var(--white);
  font-size: 1.7vh;
  position: absolute;
  top: -0.7vh;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}
.allies .ally .buttons .button.red {
  background-color: var(--red);
}
.allies .ally .buttons .button.green {
  background-color: var(--green);
}
.allies .ally .buttons .button:hover {
  cursor: pointer;
}
.allies .addallymenu {
  position: relative;
  width: 100%;
  height: 10vh;
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
}
.allies .addallymenu .ally-selector {
  position: relative;
  margin-top: 0.5vh;
  width: 100%;
  height: auto;
  display: inline-block;
}
.allies .addallymenu .ally-selector .header {
  position: relative;
  height: 5vh;
  width: 100%;
  background-color: var(--dark2);
}
.allies .addallymenu .ally-selector .header:hover {
  cursor: pointer;
}
.allies .addallymenu .ally-selector .header .selected-rank {
  position: absolute;
  top: 0vh;
  color: var(--white);
  font-size: 1.6vh;
  left: 1vh;
}
.allies .addallymenu .ally-selector .header .arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2vh;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.allies .addallymenu .ally-selector .header .arrow i {
  color: var(--gray);
  font-size: 2vh;
}
.allies .addallymenu .ally-selector .options {
  position: relative;
  width: 100%;
  height: auto;
  max-height: 30vh;
  margin-top: 1vh;
  overflow: auto;
}
.allies .addallymenu .ally-selector .options .option {
  position: relative;
  height: 5vh;
  width: 100%;
  display: inline-block;
  background-color: var(--dark2);
  margin-bottom: 0.5vh;
}
.allies .addallymenu .ally-selector .options .option .name {
  position: absolute;
  top: 0vh;
  color: var(--white);
  font-size: 1.6vh;
  left: 1vh;
}
.allies .addallymenu .ally-selector .options .option:hover {
  background-color: var(--dark3);
  cursor: pointer;
}
.allies .loading {
  position: relative;
  width: 100%;
  height: 7vh;
  background-color: var(--dark2);
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
}
.allies .loading p {
  position: absolute;
  color: var(--white);
  font-size: 2vh;
  top: 0.3vh;
  left: 50%;
  transform: translateX(-50%);
}/*# sourceMappingURL=alliespage.css.map */