.banking {
  border-top: solid 0.4vh var(--dark2);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0vh;
}
.banking .action-menu {
  position: relative;
  margin-top: 0.5vh;
  width: 100%;
  height: 61vh;
}
.banking .action-menu .action-title {
  position: relative;
  height: 4vh;
  width: 100%;
  background-color: var(--dark2);
  margin-bottom: 0.5vh;
}
.banking .action-menu .action-title .title {
  position: absolute;
  left: 1vh;
  color: var(--white);
  font-size: 1.8vh;
  top: -0.8vh;
}
.banking .action-menu .input-field {
  width: 100%;
  height: 8vh;
  position: relative;
  background-color: var(--dark2);
}
.banking .action-menu .input-field .title {
  position: absolute;
  font-size: 1.8vh;
  color: var(--white);
  left: 1vh;
  top: -0.8vh;
}
.banking .action-menu .input-field input {
  position: absolute;
  width: 39vh;
  height: 3vh;
  left: 1vh;
  bottom: 1vh;
  background-color: var(--dark3);
  border: none;
  outline: none;
  color: var(--white);
  font-size: 1.7vh;
  padding-left: 1vh;
  padding-right: 1vh;
}
.banking .action-menu .selector {
  width: 100%;
  height: auto;
  position: relative;
  margin-bottom: 0.5vh;
}
.banking .action-menu .selector .account-selector {
  position: relative;
  margin-top: 0.5vh;
  width: 100%;
  height: auto;
  display: inline-block;
}
.banking .action-menu .selector .account-selector .header {
  position: relative;
  height: 5vh;
  width: 100%;
  background-color: var(--dark2);
}
.banking .action-menu .selector .account-selector .header:hover {
  cursor: pointer;
}
.banking .action-menu .selector .account-selector .header .selected-rank {
  position: absolute;
  top: 0vh;
  color: var(--white);
  font-size: 1.6vh;
  left: 1vh;
}
.banking .action-menu .selector .account-selector .header .arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2vh;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.banking .action-menu .selector .account-selector .header .arrow i {
  color: var(--gray);
  font-size: 2vh;
}
.banking .action-menu .selector .account-selector .options {
  position: relative;
  width: 100%;
  height: auto;
  max-height: 30vh;
  margin-top: 1vh;
  overflow: auto;
}
.banking .action-menu .selector .account-selector .options .option {
  position: relative;
  height: 5vh;
  width: 100%;
  display: inline-block;
  background-color: var(--dark2);
  margin-bottom: 0.5vh;
}
.banking .action-menu .selector .account-selector .options .option .name {
  position: absolute;
  top: 0vh;
  color: var(--white);
  font-size: 1.6vh;
  left: 1vh;
}
.banking .action-menu .selector .account-selector .options .option:hover {
  background-color: var(--dark3);
  cursor: pointer;
}
.banking .action-menu .main-btns {
  position: absolute;
  width: -moz-fit-content;
  width: fit-content;
  height: 4vh;
  bottom: 1vh;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.banking .action-menu .main-btns .btn {
  position: relative;
  width: 12vh;
  height: 100%;
  margin-left: 0.5vh;
  margin-right: 0.5vh;
  border-radius: 0.5vh;
}
.banking .action-menu .main-btns .btn.save {
  background-color: var(--green);
}
.banking .action-menu .main-btns .btn.cancel {
  background-color: var(--red);
}
.banking .action-menu .main-btns .btn:hover {
  cursor: pointer;
}
.banking .action-menu .main-btns .btn p {
  color: var(--white);
  font-size: 1.7vh;
  position: absolute;
  top: -0.6vh;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}
.banking .wrapper .accounts {
  width: 100%;
  height: auto;
  max-height: 40vh;
  top: 0vh;
  position: relative;
  overflow: auto;
}
.banking .wrapper .accounts .add-new-account {
  position: relative;
  width: 100%;
  height: 4vh;
  background-color: var(--dark2);
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
}
.banking .wrapper .accounts .add-new-account p {
  position: absolute;
  left: 1vh;
  color: var(--white);
  font-size: 1.8vh;
  top: -0.8vh;
}
.banking .wrapper .accounts .add-new-account:hover {
  background-color: var(--dark3);
  cursor: pointer;
}
.banking .wrapper .accounts .account {
  position: relative;
  width: 100%;
  height: 7vh;
  background-color: var(--dark2);
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
}
.banking .wrapper .accounts .account .info {
  position: absolute;
  left: 1vh;
}
.banking .wrapper .accounts .account .info.name {
  color: var(--white);
  font-size: 1.8vh;
  top: -0.8vh;
}
.banking .wrapper .accounts .account .info.money {
  color: var(--gray);
  font-size: 1.5vh;
  top: 1.5vh;
}
.banking .wrapper .actions {
  position: relative;
  margin-top: 1vh;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
.banking .wrapper .actions .action {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: 5vh;
  width: 100%;
  margin-bottom: 0.5vh;
  background-color: var(--dark2);
}
.banking .wrapper .actions .action .text {
  position: absolute;
  color: var(--white);
  font-size: 2vh;
  top: -0.6vh;
  left: 50%;
  transform: translateX(-50%);
}
.banking .wrapper .actions .action.pressable:hover {
  background-color: var(--dark3);
  cursor: pointer;
}
.banking .wrapper .actions .action.not-pressable:hover {
  background-color: var(--dark3);
}
.banking .add-account-menu {
  width: 100%;
  height: 100%;
  top: 0vh;
  position: absolute;
  overflow: auto;
}
.banking .add-account-menu .input-field {
  width: 100%;
  height: 8vh;
  margin-top: 0.5vh;
  position: relative;
  background-color: var(--dark2);
}
.banking .add-account-menu .input-field .title {
  position: absolute;
  font-size: 1.8vh;
  color: var(--white);
  left: 1vh;
  top: -0.8vh;
}
.banking .add-account-menu .input-field input {
  position: absolute;
  width: 39vh;
  height: 3vh;
  left: 1vh;
  bottom: 1vh;
  background-color: var(--dark3);
  border: none;
  outline: none;
  color: var(--white);
  font-size: 1.7vh;
  padding-left: 1vh;
  padding-right: 1vh;
}
.banking .add-account-menu .main-btns {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  height: 4vh;
  margin-top: 1vh;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.banking .add-account-menu .main-btns .btn {
  position: relative;
  width: 12vh;
  height: 100%;
  margin-left: 0.5vh;
  margin-right: 0.5vh;
  border-radius: 0.5vh;
}
.banking .add-account-menu .main-btns .btn.save {
  background-color: var(--green);
}
.banking .add-account-menu .main-btns .btn.cancel {
  background-color: var(--red);
}
.banking .add-account-menu .main-btns .btn:hover {
  cursor: pointer;
}
.banking .add-account-menu .main-btns .btn p {
  color: var(--white);
  font-size: 1.7vh;
  position: absolute;
  top: -0.6vh;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}
.banking .loading {
  position: relative;
  width: 100%;
  height: 7vh;
  background-color: var(--dark2);
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
}
.banking .loading p {
  position: absolute;
  color: var(--white);
  font-size: 2vh;
  top: 0.3vh;
  left: 50%;
  transform: translateX(-50%);
}/*# sourceMappingURL=bankingpage.css.map */