.checkmark {
  position: absolute;
  width: 3vh;
  height: 3vh;
  top: 50%;
  transform: translateY(-50%);
  left: 1vh;
  border-radius: 0.4vh;
  background-color: var(--dark1);
}
.checkmark i {
  color: var(--white);
  font-size: 2vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.checkmark.checked {
  background-color: var(--red);
}
.checkmark:hover {
  cursor: pointer;
}