.roles {
  border-top: solid 0.4vh var(--dark2);
  width: 100%;
  height: 100%;
  overflow: auto;
}
.roles .role {
  position: relative;
  width: 100%;
  height: 7vh;
  background-color: var(--dark2);
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
}
.roles .role .info {
  position: absolute;
  left: 1vh;
}
.roles .role .info.name {
  color: var(--white);
  font-size: 1.8vh;
  top: -1vh;
}
.roles .role .info.extra {
  color: var(--gray);
  font-size: 1.5vh;
  top: 1.5vh;
}
.roles .role .edit-btn {
  position: absolute;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  right: 2vh;
  top: 50%;
  transform: translateY(-50%);
}
.roles .role .edit-btn i {
  color: var(--gray);
  font-size: 3vh;
}
.roles .role .edit-btn i:hover {
  color: var(--white);
  cursor: pointer;
}
.roles .loading {
  position: relative;
  width: 100%;
  height: 7vh;
  background-color: var(--dark2);
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
}
.roles .loading p {
  position: absolute;
  color: var(--white);
  font-size: 2vh;
  top: 0.3vh;
  left: 50%;
  transform: translateX(-50%);
}

.role-editing {
  border-top: solid 0.4vh var(--dark2);
  width: 100%;
  height: 100%;
}
.role-editing .editor {
  width: 100%;
  height: 100%;
}
.role-editing .editor .current-edit {
  position: relative;
  width: 100%;
  height: 7vh;
  background-color: var(--dark2);
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
}
.role-editing .editor .current-edit .info {
  position: absolute;
  left: 1vh;
}
.role-editing .editor .current-edit .info.name {
  color: var(--white);
  font-size: 1.8vh;
  top: -1vh;
}
.role-editing .editor .name-changer {
  position: relative;
  margin-top: 1vh;
  width: 100%;
  height: 8vh;
}
.role-editing .editor .name-changer .changer {
  width: 100%;
  height: 100%;
  background-color: var(--dark2);
}
.role-editing .editor .name-changer .changer .title {
  position: absolute;
  font-size: 1.8vh;
  color: var(--white);
  left: 1vh;
  top: -0.8vh;
}
.role-editing .editor .name-changer .changer input {
  position: absolute;
  width: 39vh;
  height: 3vh;
  left: 1vh;
  bottom: 1vh;
  background-color: var(--dark3);
  border: none;
  outline: none;
  color: var(--white);
  font-size: 1.7vh;
  padding-left: 1vh;
  padding-right: 1vh;
}
.role-editing .editor .permission-changer {
  position: relative;
  margin-top: 0.5vh;
  width: 100%;
  height: 39vh;
}
.role-editing .editor .permission-changer .changer {
  position: absolute;
  bottom: 1vh;
  width: 100%;
  height: 37.5vh;
  overflow: auto;
}
.role-editing .editor .permission-changer .changer .permission {
  position: relative;
  width: 100%;
  height: 5vh;
  margin-bottom: 0.5vh;
  background-color: var(--dark2);
}
.role-editing .editor .permission-changer .changer .permission .text {
  position: absolute;
  font-size: 1.7vh;
  top: -0.2vh;
  left: 5vh;
  color: var(--white);
}
.role-editing .editor .permission-changer .changer .loading {
  position: relative;
  width: 100%;
  height: 5vh;
  margin-bottom: 0.5vh;
  background-color: var(--dark2);
}
.role-editing .editor .permission-changer .changer .loading p {
  position: absolute;
  font-size: 1.7vh;
  top: -0.2vh;
  left: 50%;
  transform: translateX(-50%);
  color: var(--white);
}
.role-editing .editor .main-btns {
  position: absolute;
  width: -moz-fit-content;
  width: fit-content;
  height: 4vh;
  bottom: 1vh;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.role-editing .editor .main-btns .btn {
  position: relative;
  width: 12vh;
  height: 100%;
  margin-left: 0.5vh;
  margin-right: 0.5vh;
  border-radius: 0.5vh;
}
.role-editing .editor .main-btns .btn.save {
  background-color: var(--green);
}
.role-editing .editor .main-btns .btn.cancel {
  background-color: var(--red);
}
.role-editing .editor .main-btns .btn:hover {
  cursor: pointer;
}
.role-editing .editor .main-btns .btn p {
  color: var(--white);
  font-size: 1.7vh;
  position: absolute;
  top: -0.5vh;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}/*# sourceMappingURL=rolespage.css.map */